.descripcion{
   color: white;
   /* margin-top: -15px; */
   margin-top: revert;
}
.titulo-busqueda{
   color: white;
}
.grilla-busqueda{
   margin-left: 15rem;
   /* border: 10px solid red; */
   min-height: 80vh;
}
.no_value{
   color:white;
}
