{% extends 'base.html' %}

{% load static %}
    {% block content %}
    <link rel="stylesheet" type="text/css" href={% static "css/personas_card.css" %} />

    <main class="container">
        <section class="movies" id="movies">
        {% for a in actores %}
        <div class="grid">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <article class="card">
                    <header class="title_header">
                        <h3><a href="{% url 'vista-actor' a.id%}">{{a.nombre}} {{a.apellido}}</a></h3>
                    </header>
                    <div class="card-block">
                        <div class="img-card">
                            <a href="{% url 'vista-actor' a.id%}"><img class="img-actores" src="/static/images/{{a.foto}}" alt="Movie" /></a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        {% endfor %}
        </section>
        <div class="row mt-3 justify-content-center">
            <div class="mt-2">
                <nav>
                    <ul class="pagination">
                        {% if actores.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">Primera</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ actores.previous_page_number }}">&laquo;</a>
                            </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="?page=1">Primera</a>
                        </li>
                        {% endif %}

                        {% if actores.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ actores.next_page_number }}">&raquo;</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ actores.paginator.num_pages }}">Última</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Última</a>
                            </li>  
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        </main>
    {% endblock %}