{% load static %}
<html>
   <head>
      <title>Criticas</title>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet">
      <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <link rel="stylesheet" type="text/css" href={% static "css/base.css" %} />
      <link rel="stylesheet" type="text/css" href={% static "css/puntuacion.css" %} />
   </head>
   {% include "navbar.html" %}
   <body>
   {% block content %}

   {% endblock content %}
   </body>
   <footer class="footer">
      <div class="container-footer">
         <ul class="footer-links">
            <li><a href="{% url 'vista-home' %}">Inicio</li>
            <li><a href="mailto:yatenbueno@gmail.com">Contacto</a></li>
         </ul>
         <p>© 2022 - All rights reserved.</p>
      </div>
   </footer>
</html>