{% extends 'base.html' %}
{% load static %}
{% load class_tag %}

{% block content %}
<link rel="stylesheet" href={% static "css/busqueda.css" %} />
   <center>
   <br>
   <br>
   <br>
   <br>
   <br>
   {% if searched %}
      {% if filtros %}
         <h2 class="descripcion">Tu búsqueda fue "{{ searched }}"</h2>
         <br/>
         <div class="mx-auto" style="width: 120%">
            <div class="grilla-busqueda">
               <div class="col-lg-3 col-md-4 col-sm-6">

                  <!-- PELICULAS -->

                  <div class="list-group">
                     {% if filtros.peliculas %}
                        <h3 class="titulo-busqueda">Peliculas</h3>
                        {% for filtro in filtros.peliculas %}
                           <a href={% url 'vista-pelicula' filtro.id %} class="list-group-item list-group-item-action">{{ filtro|get_class }}: {{ filtro }}</a>
                        {% endfor %}
                     {% endif %}
                  </div>
               </div>
                     <!-- ACTORES -->
                     
               <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="list-group">
                     {% if filtros.actores %}
                        <h3 class="titulo-busqueda">Actores</h3>
                        {% for filtro in filtros.actores %}
                           <a href={% url 'vista-actor' filtro.id %} class="list-group-item list-group-item-action">{{ filtro|get_class }}: {{ filtro }}</a>
                        {% endfor %}
                     {% endif %}
                  </div>   
               </div>
                           <!-- DIRECTORES -->
                           
               <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="list-group">
                     {% if filtros.directores %}
                        <h3 class="titulo-busqueda">Directores</h3>
                        {% for filtro in filtros.directores %}
                           <a href={% url 'vista-director' filtro.id %} class="list-group-item list-group-item-action">{{ filtro|get_class }}: {{ filtro }}</a>
                        {% endfor %}
                     {% endif %}
                  </div>
               </div>
            </div>
         </div>

         <!-- ELSE -->

      {% else %}
         <h2 style=color:white>No hay resultados para la palabra "{{ searched }}"</h2>
      {% endif %}
   {% else %}
      <h2 class="no_value">Tu búsqueda no contenía ningún valor</h2>
   {% endif %}

   </center>
{% endblock %}