{% extends 'base.html' %}

{% load static %}
      {% block content %}
      <main class="container">
         <section class="movies" id="movies">
            <h2>Top 12 Peliculas</h2>
            <br>
            {% for p in peliculas%}
               <div class="grid">
                  <div class="col-lg-3 col-md-4 col-sm-6">
                     <article class="card">
                        <header class="title_header">
                           <!--Nombre-->
                           <h3><a href="{% url 'vista-pelicula' p.id%}">{{p.nombre}}</a></h3>
                        </header>
                        <div class="card-block">
                           <!--Imagen y puntaje-->
                           <div class="img-card">
                              <a href="{% url 'vista-pelicula' p.id%}"><img src="/static/images/{{p.foto}}" alt="Movie" class="img" class="img-thumbnail" /></a>
                              <p>Puntaje: {{p.puntaje}}</p> 
                           </div>
                        </div>
                     </article>
                  </div>
               </div>
            {% endfor %}
         </section>
      </main>
   {% endblock %}